<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLinkActive="active" routerLink="/signup">
        <span class="app-title" aria-hidden="true">Reactive Forms</span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a routerLink="/signup" routerLinkActive="active"
                                class="nav-link">Signup</a></li>
        <li class="nav-item"><a routerLinkActive="active"
                                (click)="loginOrOut()"
                                class="nav-link">{{ loginLogoutText }}</a></li>
      </ul>
    </div>
  </div>
</nav>
