<div class="col-md-6 col-md-offset-3">
  <legend><h2>Register</h2></legend>
  <form novalidate #f="ngForm" (ngSubmit)="f.valid && onSubmit(f.value)">
    <!--<div>-->
    <!--<pre>{{f.value | json}}</pre>-->
    <!--</div>-->
    <div ngModelGroup="name">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
          <input ngModel
                 type="text"
                 class="form-control"
                 id="firstname"
                 name="firstName"
                 #firstName="ngModel"
                 placeholder="First name" autofocus required minlength="2"/>
        </div>
        <div class="err-msg-color"
             *ngIf="firstName.errors && (firstName.dirty || firstName.touched || f.submitted || f.valid)">
          <p *ngIf="firstName.errors?.required">
            FirstName is required
          </p>
          <p *ngIf="firstName.errors?.minlength">
            FirstName must have at least {{firstName.errors.minlength.requiredLength}} characters
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <div class="input-group">
                              <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                              </span>
          <input ngModel
                 type="text"
                 class="form-control"
                 id="lastname"
                 name="lastName"
                 placeholder="Last name"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
        <input ngModel
               type="email"
               id="email"
               name="email"
               #email="ngModel"
               class="form-control"
               placeholder="Email" appValidateEmail/>
      </div>
      <div class="err-msg-color"
           *ngIf="email.errors && (email.dirty || email.touched || f.submitted || f.valid)">
        <p *ngIf="email.errors?.validateEmail">
          Please enter a valid email address
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="username">UserName</label>
      <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
        <input ngModel
               type="text"
               id="username"
               name="userName"
               #userName="ngModel"
               class="form-control"
               placeholder="Username" required/>
      </div>
      <div class="err-msg-color"
           *ngIf="userName.errors && (userName.dirty || userName.touched || f.submitted || f.valid)">
        <p *ngIf="userName.errors?.required">
          userName is required
        </p>
      </div>
    </div>
    <div ngModelGroup="password">
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
          <input ngModel
                 type="password"
                 class="form-control"
                 name="password"
                 id="password"
                 #password="ngModel"
                 placeholder="Password" required/>
        </div>
        <div class="err-msg-color"
             *ngIf="password.errors && (password.dirty || password.touched || f.submitted || f.valid)">
          <p *ngIf="password.errors?.required">
            password is required
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="vpassword">Confirm Password</label>

        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
          <input ngModel
                 type="password"
                 name="vpassword"
                 class="form-control"
                 id="vpassword"
                 #vpassword="ngModel"
                 placeholder="Verify Password" required/>
        </div>
        <div class="err-msg-color"
             *ngIf="vpassword.errors && (vpassword.dirty || vpassword.touched || f.submitted || f.valid)">
          <p *ngIf="vpassword.errors?.required">
            Confirm password is required
          </p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <!--<button type="submit" class="btn btn-primary" [disabled]="f.invalid">Sign up</button>-->
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign up</button>
    </div>
  </form>
</div>
