<div class="col-md-6 col-md-offset-3">
  <legend><h2>Register</h2></legend>
  <form [formGroup]="signUpForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm.value)"
        novalidate>
    <!--<div>-->
    <!--<pre>{{f.value | json}}</pre>-->
    <!--</div>-->
    <div formGroupName="name">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
          <input formControlName="firstName"
                 type="text"
                 class="form-control"
                 id="firstname"
                 placeholder="First name" autofocus/>
        </div>
        <div class="err-msg-color"
             *ngIf="signUpForm.get('name').get('firstName').errors &&
             (signUpForm.get('name').get('firstName').dirty ||
             signUpForm.get('name').get('firstName').touched || signUpForm.submitted || signUpForm.valid)">
          <p *ngIf="signUpForm.get('name').get('firstName').hasError('required')">
            FirstName is required
          </p>
          <p *ngIf="signUpForm.get('name').get('firstName').hasError('minLength')">
            FirstName must have at least
            {{signUpForm.get('name').get('firstName').errors.minlength.requiredLength}} characters
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <div class="input-group">
                              <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                              </span>
          <input formControlName="lastName"
                 type="text"
                 class="form-control"
                 id="lastname"
                 placeholder="Last name"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
        <input
          formControlName="email"
          id="email"
          class="form-control"
          placeholder="Email"/>
      </div>
      <div class="err-msg-color"
           *ngIf="signUpForm.get('email').errors &&
           (signUpForm.get('email').dirty ||
           signUpForm.get('email').touched ||
           signUpForm.submitted || signUpForm.valid)">
        <p
          *ngIf="signUpForm.get('email').hasError('validateEmail') && signUpForm.get('email').hasError('required')">
          Please enter a valid email address
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="username">UserName</label>
      <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
        <input
          formControlName="userName"
          id="username"
          class="form-control"
          placeholder="Username"/>
      </div>
      <div class="err-msg-color"
           *ngIf="signUpForm.get('userName').errors && (signUpForm.get('userName').dirty || signUpForm.get('userName').touched || signUpForm.submitted || signUpForm.valid)">
        <p *ngIf="signUpForm.get('userName').hasError('required')">
          userName is required
        </p>
      </div>
    </div>
    <div formGroupName="password">
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
          <input formControlName="password"
                 type="password"
                 class="form-control"
                 id="password"
                 placeholder="Password"/>
        </div>
        <div class="err-msg-color"
             *ngIf="signUpForm.get('password').get('password').errors &&
             (signUpForm.get('password').get('password').dirty ||
             signUpForm.get('password').get('password').touched ||
             signUpForm.submitted || signUpForm.valid)">
          <p *ngIf="signUpForm.get('password').get('password').hasError('required')">
            password is required
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="vpassword">Confirm Password</label>

        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
          <input formControlName="vpassword"
                 type="password"
                 class="form-control"
                 id="vpassword"
                 placeholder="Verify Password"/>
        </div>
        <div class="err-msg-color"
             *ngIf="signUpForm.get('password').get('vpassword').errors &&
             (signUpForm.get('password').get('vpassword').dirty ||
             signUpForm.get('password').get('vpassword').touched ||
             signUpForm.submitted || signUpForm.valid)">
          <p *ngIf="signUpForm.get('password').get('vpassword').hasError('required')">
            Confirm password is required
          </p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <!--<button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Sign up</button>-->
      <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.valid">Sign up</button>
    </div>
  </form>
</div>
